*{
    padding: 0;
    margin: 0;
}
body{
    background-color: grey;
    padding : 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
hr{
    margin-top: 20px;
    border: 1px solid black;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.header h1{
    padding-top: 10px;
    color: black;
}
.header img{
    width: 20px;
    height: 20px;
}
.navbar p{
    margin: 25px;
    color: black;
    background-color: yellow;
    padding: 15px;
    border: 2px lightblue ;
    border-radius: 10px;
    border-style: solid;
    cursor: pointer;
}